
.page-card {
  position: relative;
  padding: 10px;
  margin: 15px 0;
  background-color: #fff;
  border-radius: 2px;
}

.page-title {
  margin: 5px 0;
  color: #3CA6CB;
}

.page-body {
  height: 56px;
  color: #666;
  overflow: hidden;
}

.publish,
.unpublish {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  padding: 1px 7px;
  border-radius: 2px;
  border-style: none;
  color: #fff;
  cursor: pointer;
  font-size: .5em;
  text-transform: uppercase;
}

.publish {
  background-color: #5DAF79;
}

.unpublish {
  background-color: #CE5544;
}

.cloud-icon {
  display: block;
  margin: 0 5px 0 0;
  height: 18px;
  width: 18px;
}

.card-footer {
  display: flex;
  align-items: center;
  padding: 15px 0 0 0;
  font-size: .6em;
}

.edit {
  margin: 0 10px 0 0;
  display: flex;
  align-items: center;
  color: #3CA6CB;
  font-family: 'Georgia', sans-serif;
  text-decoration: none;
}

.pencil-blue,
.add-icon {
  display: block;
  margin: 0 5px 0 0;
  height: 15px;
  width: 15px;
}

.add-to-nav-btn {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-style: none;
  color: #3CA6CB;
  cursor: pointer;
  font-family: 'Georgia', sans-serif;
  font-size: 1em;
}

.status {
  margin: 0 0 0 auto;
  color: #3CA6CB;
}

.status span {
  font-weight: 700;
}

@media screen and (min-width: 375px) {

  .publish,
  .unpublish {
    padding: 3px 7px;
    font-size: .65em;
  }

  .card-footer {
    font-size: .75em;
  }
}

@media screen and (min-width: 414px) {

  .publish,
  .unpublish {
    font-size: .7em;
  }

  .card-footer {
    font-size: .85em;
  }
}
