@import './Header.css';
@import './Navigation.css';
@import './CreatePage.css';
@import './Pages.css';
@import './AdminPageCard.css';
@import './UserNavigation.css';
@import './Page.css';
@import './Modal.css';

.main-content {
  position: relative;
  background-color: #ECF0F1;
  height: 100vh;
}

@media screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (orientation: landscape) {

  .main-content {
    height: 100%;
  }
}

@media screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (orientation: landscape) {

  .main-content {
    height: 100%;
  }
}

@media screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (orientation: landscape) {

  .main-content {
    height: 100%;
  }
}
