.pages-wrap {
  width: 95%;
  margin: 0 auto;
}

.pages-wrap h2 {
  color: #3CA6CB;
}

.pages-summary {
  color: #666;
}

@media screen and (min-width: 768px) {

  .pages-wrap {
    width: 75%;
    margin: 0 0 0 auto;
    padding: 25px 25px 80px;
  }

}
@media screen and (min-width: 1024px) {

  .pages-wrap {
    width: 80%;
  }

}
