.user-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0 0 0;
  background-color: #fff;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  border-top: 1px solid #ddd;
}

.home {
  display: block;
  margin: 0 auto;
  padding: 0 0 10px 0;
}

.nav-item {
  display: block;
  margin: 0 auto;
  padding: 15px 0;
  background-color: #3CA6CB;
  color: #fff;
  border-bottom: 2px solid rgba(39, 115, 139, .4);
  text-align: center;
  text-decoration: none;
}

.nav-item:hover,
.nav-item.active {
  background-color: #27738E;
  border-bottom: 2px solid #3CA6CB;
  color: #fff;
}

@media screen and (min-width: 768px) {

  .user-nav {
    padding: 0;
    flex-direction: row;
    height: 100px;
    box-shadow: 0px 1px 5px 0px #c1c1c1;
  }

  .nav-links {
    display: flex;
    justify-content: flex-end;
    height: 100px;
    border-top: none;
  }

  .nav-item {
    margin: 0;
    padding: 0 20px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: none;
    color: #3CA6CB;
  }

  .nav-item:hover {
    background-color: #3CA6CB;
  }

  .nav-item.active,
  .nav-item.active:hover {
    background: #27738E;
    border-bottom: 3px solid #3CA6CB;
  }

  .home {
    padding: 0 10px;
  }


}
