@import './styles/App.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #bcc3c4;
  font-family: 'Georgia', sans-serif;
  font-size: 16px;
  max-width: 1300px;
}
